<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyTools.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="OutPutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="APPID" serializeAs="String">
                <value>C3CDB745-A7A0-448F-9CE2-6C39E5E0BD10</value>
            </setting>
            <setting name="GenMode" serializeAs="String">
                <value>新增</value>
            </setting>
        </MyTools.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MyTools.Properties.Settings>
            <setting name="软件版本" serializeAs="String">
                <value>V2.5</value>
            </setting>
        </MyTools.Properties.Settings>
    </applicationSettings>
</configuration>